.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position:absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(red, green, blue, alpha);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover  .dropdown-content {
    display:block;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}