.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position:absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(red, green, blue, alpha);
    box-shadow: inset 0 0 10px black;
    box-shadow: 0px 6px -6x black;
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover  .dropdown-content {
    display:block;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext{
    visibility: visible;
}
:root{
    --primary-color:black ;
    --secondary-color: white;
    --padding: 20px;
}
h1{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}
p{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: var(--padding);
}
.round{
    border-radius: 12px;
}
#example {
    border-image: url(Lesson16\images/image1)
    
}
body {
    background: 
    url(Lesson16\images/image1)
    top center\200px 200px
    no-repeat
    fixed
    padding-box
    content-box
     red ;
}
body {
    background-color: red;
    background: url(Lesson16\images/image1);
}