article p{
    background: blue;
    color:aliceblue;
    padding: 20px;
}
articale > p {
    background:red ;
}
articale ~ p {
    background: green;
    color:aliceblue;
    padding: 20px;
}
articale p[
    background:yellow;
]
h3:first-child {
    background-color: green;
    color: white;
}
input :invalid {
    border: 2px solid red;
}
input: :valid {
    border: 2px solid green;
}
input:focus {
    background-color: yellow;
}
span:first-of-type {
    background:black ;
    color:white ;
    padding:10px ;
}
header p::first-line {
    color: salmon;
}
h1::before{
    content:url(Nature.jpg) ;
}
h1::after{
    content: url(Nature.jpg);
}
::selection{
    color: tomato;
    background-color: blue;
}