div {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-color: blue;
    transform: skewY(40deg);
    padding: 10px;
    color: white;
}
#image1 img{
    transform: scale(1);
    transition: .3 ease-in-out;
}
#image1:hover img{
    transform: scale(1.3);
}
#image2 img{
    margin-left: 0px;
    transition: .3s ease-in-out;
}
#image2:hover img{
    margin-left: 30px; 
}

#images img{
    filter: blur(0);
    transition: .3 ease-in-out;
}

#images img{
    filter: blur(0);
}

#image4 img{
    filter: grayscale(100%);
    transition: .3 ease-in-out;
}

#image4:hover img{
    filter: grayscale(100%);
}
.loader img{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-radius:50%;
    margin-right: 8px;
    animation: bounce 8s infinite alternate;
}
@keyframes bounce{
    to{
        width: 150px;
        height: 150px;
        transform: translate3d(0, -50px, 0);
    }
}








